#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.counter {
  padding: 2em;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 50rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(89, 137, 159);
  padding: 1rem;
  margin: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 10px;
  font-size: 5rem;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 5px 30px 5px rgba(63, 81, 90, 0.5);
}

/* TODO: add media queries for resizing AND resizing for number of cards on screen */

/* Also light and dark mode? */

/* Card flip animation:
  Codepen:  https://codepen.io/wellingguzman/pen/RyyeVq
  Author:   Welling Guzman
  URL:      http://wellingguzman.com
  Twitter:  http://twitter.com/wellingguzman
*/

.card-wrapper {
  display: inline-block;
  perspective: 1000px;


  /* CARD FLIP LEFT */
  &.flip-left {
    .card {
      .back {
        transform: rotateY(-180deg);
      }
    }

    &:hover {
      .card {
        transform: rotateY(-180deg);
      }
    }
  }

  .card-wrapper, .card {
    width: 200px;
    height: 200px;
    
    margin: 10px;
  }

  .card {
    .front, .back {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid red;
      border-radius: 4px;
    }
    
    .front {
      color: white;
      background: blueviolet;
      font-weight: 700;
      font-size: 1rem;
    }
    
    .back {
      font-size: 1.5rem;
      color: white;
      background: pink;
    }
  }
}